* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: #0d0d0d;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin: 0;
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
}

input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}
